<div class="contents">
  <nav class= "nav1">
    <ul>
      <li><%= link_to "Programs", programs_path %></li>

      <li> <%= link_to "View/Edit Profile", edit_user_profile_path(@user, @profile) %>  </li>
      <li> <%=link_to "Community", users_path %> </li>
      <li>About</li>
    </ul>
  </nav>
</div>

  <div class="intro">

    <div class="sign">
      <h2>Welcome to FIT </h2>
      <p> Welcome to FIT, an easy-to-use fitness program builder. Use this app to create programs, track exersices, and connect to other FIT members!</p>
    </div>

  </div>

  <div class="icons">

        <div class="icon1">
        </div>
        <div class="icon2">
        </div>

        <div class="icon3">
        </div>
        <div class="icon4">
        </div>
  </div>


  <div class="suggestions">
    <div class="gain">
      <h2>Programs for gains </h2>
      <p>Use FIT to craft fitness programs to help build muscle and increase body mass. See how other members program their workouts and customize as needed.  </p>
    </div>
    <div class="cut">
      <h2>Programs for weight loss </h2>
      <p> FIT can also be used to build  programs targeted at fat and weight loss. See how other members program their workouts and customize as needed.  </p>
    </div>
    <div class="lifestyle">
      <h2>Programs for lifestyle changes </h2>
      <p>For folks who are just focused on making small changes in lifestyle, FIT allows you to access varying levels of fitness programs and choose the right program that is right for you.  </p>
    </div>
  </div>


<!-- <div class="banner">
  <img class="mySlides" src="http://i63.tinypic.com/51vr6d.jpg">
  <img class="mySlides" src="http://i66.tinypic.com/1puyk6.png">
  <img class="mySlides" src="http://i68.tinypic.com/1se0dy.jpg">
  <img class="mySlides" src="http://i65.tinypic.com/oanf6c.jpg">

  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div> -->
