<div class="contents">
  <nav class= "nav1">
    <ul>
      <li><%= link_to "Programs", programs_path %></li>

      <li> <%= link_to "View/Edit Profile", edit_user_profile_path(@user, @profile) %>  </li>
      <li> <%=link_to "Community", users_path %> </li>
      <li>About</li>
    </ul>
  </nav>
</div>

  <div class="intro">

    <div class="sign">
      <h2>Welcome to FIT </h2>
      <p> Welcome to FIT, an easy-to-use fitness program builder. Use this app to create programs, track exersices, and connect to other FIT members!</p>
    </div>

  </div>

  <div class="icons">

        <div class="icon1">
        </div>
        <div class="icon2">
        </div>

        <div class="icon3">
        </div>
        <div class="icon4">
        </div>
  </div>


  <div class="suggestions">
    <div class="gain">
      <h2>Programs for gains </h2>
      <p>/Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="cut">
      <h2>Programs for weight loss </h2>
      <p>/Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="lifestyle">
      <h2>Programs for lifestyle changes </h2>
      <p>/Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>


<!-- <div class="banner">
  <img class="mySlides" src="http://i63.tinypic.com/51vr6d.jpg">
  <img class="mySlides" src="http://i66.tinypic.com/1puyk6.png">
  <img class="mySlides" src="http://i68.tinypic.com/1se0dy.jpg">
  <img class="mySlides" src="http://i65.tinypic.com/oanf6c.jpg">

  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div> -->
