<div class="contents">
  <nav class= "nav1">
    <ul>
      <li><%= link_to "Programs", programs_path %></li>
      <li>Community </li>
      <li>Post</li>
      <li>My Profile</li>
      <li>About</li>
    </ul>
  </nav>
</div>
