<div class="contents">
  <nav class= "nav1">
    <ul>
      <li><%= link_to "Programs", programs_path %></li>
      <li> My Profile </li>
      <li>Post</li>
      <li> Community </li>
      <li>About</li>
    </ul>
  </nav>
</div>

<div class="banner">
  <img class="mySlides" src="http://i63.tinypic.com/51vr6d.jpg">
  <img class="mySlides" src="http://i66.tinypic.com/1puyk6.png">
  <img class="mySlides" src="http://i68.tinypic.com/1se0dy.jpg">
  <img class="mySlides" src="http://i65.tinypic.com/oanf6c.jpg">

  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div>
