
<div class="contents">
  <nav class= "nav1">
    <ul>
      <li> Programs </li>
      <li>Community </li>
      <li>Posts</li>
      <li>About</li>
    </ul>
  </nav>

  <div class="intro">
    <div class="sign">
    </div>
    <div class="motivation">
    </div>
  </div>

  <div class="icons">

        <div class="icon1">
        </div>
        <div class="icon2">
        </div>

        <div class="icon3">
        </div>
        <div class="icon4">
        </div>
  </div>


  <div class="suggestions">
    <div class="gain">
    </div>
    <div class="cut">
    </div>
    <div class="lifestyle">

    </div>
  </div>



</div>
