<a href="/loggedin"> Return to Main</a>


<h1> <%= @profile.name %> </h1>

  <h2> Username: </h2>
  <p><%= @profile.username %></p>

  <h2> Location </h2>
  <p><%= @profile.location %></p>

  <h2> Interests </h2>
  <p><%= @profile.interests %></p>
